@charset "UTF-8";
body {
  font-family: 'Noto Sans TC', sans-serif;
  color: #52433d;
  background-color: rgba(189, 192, 186, 0.2);
}

.section_title {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  color: #cb4042;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(203, 64, 66, 0.8);
}

.primary_color {
  color: rgba(203, 64, 66, 0.8);
}

/* 反白 */
::-moz-selection {
  background: rgba(203, 64, 66, 0.5);
  color: white;
}
::selection {
  background: rgba(203, 64, 66, 0.5);
  color: white;
}

/* 各大區塊的預設 */
#section01,
#section02,
#section03,
#section04,
#section05,
#section06 {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* section01 home */
header {
  height: 100vh;
  width: 100%;
}

header i {
  color: rgba(255, 255, 255, 0.7);
}

header i:hover {
  color: #cb4042;
}

header #down_scroll:hover {
  -webkit-transform: scale(1.1) translateY(5px);
          transform: scale(1.1) translateY(5px);
  -webkit-transition: 1s;
  transition: 1s;
}

header .header_img {
  height: 95%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(203, 64, 66, 0)), to(rgba(203, 64, 66, 0.3))), url(https://images.pexels.com/photos/610294/pexels-photo-610294.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background: linear-gradient(to right bottom, rgba(203, 64, 66, 0), rgba(203, 64, 66, 0.3)), url(https://images.pexels.com/photos/610294/pexels-photo-610294.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 85%, 0px 100%);
          clip-path: polygon(0px 0px, 100% 0px, 100% 85%, 0px 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header_title {
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 3rem;
}

header #header_type {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  header .header_title {
    font-size: 5rem;
  }
  header #header_type {
    font-size: 2.5rem;
  }
}

/* section01 about me */
#section01 .avator {
  min-height: 300px;
  background: url(../images/per_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

#section01 #quote {
  color: rgba(82, 67, 61, 0.7);
}

#section01 footer.blockquote-footer {
  color: rgba(82, 67, 61, 0.5);
}

@media (min-width: 992px) {
  #section01 {
    height: 100vh;
  }
}

/* section02 resume */
#section02 {
  background: rgba(203, 64, 66, 0.2);
}

@media (min-width: 992px) {
  #section02 {
    height: 100vh;
  }
}

/* footer */
#footer {
  padding: 1rem 0;
  background-color: #cb4042;
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

#footer #connet_icon i {
  color: white;
}

/* go_top */
#go_top_page {
  width: 50px;
  height: 50px;
  background: rgba(203, 64, 66, 0.7);
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}

#go_top_page a {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  line-height: 50px;
  color: white;
  text-decoration: none;
}
