@charset "UTF-8";
html,
body {
  font-family: 'Noto Sans TC', sans-serif;
  color: #52433d;
  overflow-x: hidden;
}

.section_title {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  color: #cb4042;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(203, 64, 66, 0.8);
}

p {
  line-height: 1.7rem;
}

.primary_color {
  color: rgba(203, 64, 66, 0.8);
}

.darkGrayColor {
  color: #52433d;
}

/* 反白 */
::-moz-selection {
  background: rgba(203, 64, 66, 0.5);
  color: white;
}
::selection {
  background: rgba(203, 64, 66, 0.5);
  color: white;
}

/* 各大區塊的預設 */
#section01,
#section02,
#section03,
#section04 {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.down_btn {
  color: #cb4042;
}

.down_btn:hover {
  color: #52433d;
  -webkit-transform: scale(1.1) translateY(5px);
          transform: scale(1.1) translateY(5px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.down_btn_position {
  position: absolute;
  bottom: 12%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header {
  height: 100vh;
  width: 100%;
  background-color: #fcfaf2;
}

header i {
  color: rgba(255, 255, 255, 0.7);
}

header i:hover {
  color: #cb4042;
}

header #down_scroll:hover {
  -webkit-transform: scale(1.1) translateY(5px);
          transform: scale(1.1) translateY(5px);
  -webkit-transition: 1s;
  transition: 1s;
}

header .header_img {
  height: 95%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(82, 67, 61, 0)), to(rgba(82, 67, 61, 0.8))), url(../images/header_img.jpg);
  background: linear-gradient(to right bottom, rgba(82, 67, 61, 0), rgba(82, 67, 61, 0.8)), url(../images/header_img.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 85%, 0px 100%);
          clip-path: polygon(0px 0px, 100% 0px, 100% 85%, 0px 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header_title {
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 3rem;
}

header #header_type {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  header .header_title {
    font-size: 5rem;
  }
  header #header_type {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  header {
    min-height: 100vh;
  }
}

/* section01 about me */
#section01 {
  background-color: #f0e8e8;
}

#section01 #section01_bg {
  width: 100%;
  height: 100%;
  background-color: #fcfaf2;
  -webkit-clip-path: polygon(0px 0px, 100% 0%, 100% 85%, 0px 95%);
          clip-path: polygon(0px 0px, 100% 0%, 100% 85%, 0px 95%);
}

#section01 #section01_content {
  margin-bottom: 15rem;
}

#section01 .avator {
  min-height: 350px;
  background: url(../images/per_image.jpg) center/cover;
  background-repeat: no-repeat;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#section01 .avator:after, #section01 .avator:before {
  content: ' ';
  width: 25px;
  height: 25px;
  position: absolute;
  border: 0px solid #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#section01 .avator:after {
  top: -1px;
  left: -1px;
  border-top: 3px solid #cb4042;
  border-left: 3px solid #cb4042;
}

#section01 .avator:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 3px solid #cb4042;
  border-right: 3px solid #cb4042;
}

#section01 .avator:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

#section01 .avator:hover:before, #section01 .avator:hover:after {
  width: 103%;
  height: 103%;
}

#section01 #quote {
  color: rgba(82, 67, 61, 0.7);
}

#section01 footer.blockquote-footer {
  color: rgba(82, 67, 61, 0.5);
}

#section01 .nav_btn {
  background-color: #cb4042;
  border: 1px solid #cb4042;
}

#section01 .btn_primaryColor {
  color: white;
  background-color: rgba(203, 64, 66, 0.8);
  border-radius: 10px;
}

#section01 .btn_primaryColor:hover {
  background-color: #cb4042;
  -webkit-transform: scale(1.03) translateY(-3px);
          transform: scale(1.03) translateY(-3px);
  -webkit-box-shadow: 0px 3px 10px rgba(203, 64, 66, 0.5);
          box-shadow: 0px 3px 10px rgba(203, 64, 66, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#section01 .btn_subColor {
  color: #cb4042;
  background-color: transparent;
  border-color: #cb4042;
  border-radius: 10px;
}

#section01 .btn_subColor:hover {
  background-color: #cb4042;
  color: white;
  -webkit-transform: scale(1.03) translateY(-3px);
          transform: scale(1.03) translateY(-3px);
  -webkit-box-shadow: 0px 3px 10px rgba(203, 64, 66, 0.5);
          box-shadow: 0px 3px 10px rgba(203, 64, 66, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 992px) {
  #section01 {
    min-height: 100vh;
  }
  #section01 #section01_bg {
    width: 100%;
    min-height: 100vh;
    background-color: #fcfaf2;
    -webkit-clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0px 100%);
            clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0px 100%);
  }
  #section01 #section01_content {
    margin-bottom: 12rem;
  }
}

/* section02 resume */
#section02 {
  background-color: #fcfaf2;
  /* Timeline holder */
  /* Timeline vertical line */
  /* Timeline item arrow */
  /* Timeline item circle marker */
}

#section02 #section02_bg {
  width: 100%;
  height: 100%;
  background-color: #f0e8e8;
  -webkit-clip-path: polygon(0px 0px, 100% 0%, 100% 95%, 0px 85%);
          clip-path: polygon(0px 0px, 100% 0%, 100% 95%, 0px 85%);
}

#section02 #section02_content {
  margin-bottom: 18rem;
}

#section02 a:hover {
  padding: 2px;
}

#section02 a:hover i {
  color: #cb4042;
}

#section02 ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

#section02 ul.timeline:before {
  content: ' ';
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

#section02 li.timeline-item {
  margin: 20px 0;
}

#section02 li.timeline-item:hover h2 {
  color: #cb4042;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#section02 .timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #fff;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

#section02 li.timeline-item::before {
  content: ' ';
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#section02 li.timeline-item:hover::before {
  content: ' ';
  background: #cb4042;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  -webkit-box-shadow: 0 0 10px rgba(203, 64, 66, 0.5);
          box-shadow: 0 0 10px rgba(203, 64, 66, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 992px) {
  #section02 {
    height: 100vh;
  }
  #section02 #section02_bg {
    width: 100%;
    height: 100%;
    background-color: #f0e8e8;
    -webkit-clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0px 100%);
            clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0px 100%);
  }
  #section02 #section02_content {
    margin-bottom: 0rem;
  }
}

#section03 {
  background-color: #f0e8e8;
}

#section03 #section03_bg {
  width: 100%;
  height: 100%;
  background-color: #fcfaf2;
  -webkit-clip-path: polygon(0px 0px, 100% 0%, 100% 85%, 0px 95%);
          clip-path: polygon(0px 0px, 100% 0%, 100% 85%, 0px 95%);
}

#section03 #section03_content {
  margin-bottom: 15rem;
}

#section03 h3 {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

#section03 hr.whiteHr {
  border-top: 1px solid white;
  width: 50%;
}

#section03 .icon_color {
  color: white;
}

#section03 .card_style {
  background-color: #cb4042;
  border: 0 solid;
  -webkit-box-shadow: 0 0 10px rgba(82, 67, 61, 0.8);
          box-shadow: 0 0 10px rgba(82, 67, 61, 0.8);
  outline: 1px solid;
  outline-color: rgba(203, 64, 66, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#section03 .card_style:hover {
  border: 1px solid;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  padding: 15px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#section03 .card_style:hover i {
  -webkit-animation: easyUp 1s ease-in-out;
          animation: easyUp 1s ease-in-out;
}

#section03 .card_style ul li {
  color: white;
}

#section03 .card_filter_light {
  -webkit-filter: brightness(1);
}

#section03 .card_filter_dark {
  -webkit-filter: brightness(0.85);
}

#section03 .card_filter_dark:hover {
  -webkit-filter: brightness(1);
}

@media (min-width: 992px) {
  #section03 {
    height: 100vh;
  }
  #section03 #section03_content {
    margin-bottom: 0rem;
  }
  #section03 #section03_bg {
    width: 100%;
    height: 100%;
    background-color: #fcfaf2;
    -webkit-clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0px 100%);
            clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0px 100%);
  }
}

@-webkit-keyframes easyUp {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes easyUp {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

#section04 {
  width: 100%;
  height: 100%;
  background-color: #f0e8e8;
}

#section04 #section04_content {
  margin-bottom: 5rem;
}

#section04 i {
  color: white;
}

#section04 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#section04 html,
#section04 body {
  width: 100%;
  height: 100%;
}

#section04 body {
  padding: 1rem 0;
  background: #f9f9fb;
}

#section04 .card {
  width: 300px;
  display: inline-block;
  margin: 1rem;
  border-radius: 4px;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #fff;
  position: relative;
  overflow: hidden;
}

#section04 .card:hover, #section04 .card.hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}

#section04 .card:hover .card-content, #section04 .card.hover .card-content {
  -webkit-box-shadow: inset 0 3px 0 0 #cb4042;
          box-shadow: inset 0 3px 0 0 #cb4042;
  border-color: #cb4042;
}

#section04 .card:hover .card-img .overlay, #section04 .card.hover .card-img .overlay {
  background-color: rgba(25, 29, 38, 0.85);
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 1;
}

#section04 .card-img {
  position: relative;
  height: 224px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section04 .card-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

#section04 .card-img .overlay .overlay-content {
  line-height: 224px;
  width: 100%;
  text-align: center;
  color: #fff;
}

#section04 .card-img .overlay .overlay-content a {
  color: #fff;
  padding: 0 2rem;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#section04 .card-img .overlay .overlay-content a:hover, #section04 .card-img .overlay .overlay-content a.hover {
  background: #cb4042;
  border-color: #cb4042;
}

#section04 .card-img .overlay .overlay-content a.toGithub {
  color: #fff;
  padding: 0 2rem;
  display: inline-block;
  border: 0px solid rgba(255, 255, 255, 0.4);
  height: 0px;
  line-height: 0px;
  cursor: pointer;
  text-decoration: none;
}

#section04 .card-img .overlay .overlay-content a.toGithub:hover {
  -webkit-transform: scale(1.1) translateY(-3px);
          transform: scale(1.1) translateY(-3px);
}

#section04 .card-content {
  width: 100%;
  min-height: 229.8px;
  background-color: #fff;
  border-top: 1px solid #e9e9eb;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1rem 2rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#section04 .card-content a {
  text-decoration: none;
  color: #202927;
}

#section04 .card-content h2,
#section04 .card-content a h2 {
  font-size: 1rem;
  font-weight: 500;
}

#section04 .card-content p,
#section04 .card-content a p {
  font-size: 0.8rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(32, 41, 28, 0.8);
  margin-bottom: 0.5rem;
}

#section04 .badge_style {
  color: #fff;
  background-color: rgba(82, 67, 61, 0.5);
}

@media (min-width: 992px) {
  #section04 {
    min-height: 100vh;
  }
  #section04 #section04_content {
    margin-bottom: 5rem;
  }
}

/* footer */
#footer {
  padding: 1rem 0;
  background-color: #cb4042;
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

#footer #connet_icon i {
  color: white;
}

/* go_top */
#go_top_page {
  width: 50px;
  height: 50px;
  background: rgba(203, 64, 66, 0.7);
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}

#go_top_page a {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  line-height: 50px;
  color: white;
  text-decoration: none;
}

/* loading */
#ld {
  width: 100vw;
  height: 100vh;
  background-color: #d0104c;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
