// color
$primaryColor: #cb4042;
$darkGrayColor: #52433d;
$grayColor: #bdc0ba;
$hilightColor: #d0104c;
$bgColor01: #fcfaf2;
$bgColor02: #f0e8e8;

// radius
$cardRadius: 1rem;
$btnRadius: 10px;

// 斷點 @mixin + @content -> @include
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin sm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}
@mixin md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}
@mixin lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}
@mixin xl {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

* {
  transition: 1s;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  color: $darkGrayColor;
}

.section_title {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  color: $primaryColor;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba($primaryColor, 0.8);
}

p {
  line-height: 1.7rem;
}

.primary_color {
  color: rgba($primaryColor, 0.8);
}

.darkGrayColor {
  color: $darkGrayColor;
}

/* 反白 */
::selection {
  background: rgba(203, 64, 66, 0.5);
  color: white;
}

/* 各大區塊的預設 */
#section01,
#section02,
#section03,
#section04,
#section05,
#section06 {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down_btn {
  color: $primaryColor;
  &:hover {
    color: $darkGrayColor;
    transform: scale(1.1) translateY(5px);
    transition: 0.5s;
  }
}

.down_btn_position {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
}

header {
  height: 100vh;
  width: 100%;
  background-color: $bgColor01;

  i {
    color: rgba($color: white, $alpha: 0.7);
    &:hover {
      color: $primaryColor;
    }
  }

  #down_scroll:hover {
    transform: scale(1.1) translateY(5px);
    transition: 1s;
  }

  .header_img {
    height: 95%;
    width: 100%;
    background: linear-gradient(
        to right bottom,
        rgba($darkGrayColor, 0),
        rgba($darkGrayColor, 0.8)
      ),
      url(../images/header_img.jpg);
    background-size: contain;
    // background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0px 0px, 100% 0px, 100% 85%, 0px 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header_title {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 3rem;
  }

  #header_type {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
  }

  @include md {
    .header_title {
      font-size: 5rem;
    }

    #header_type {
      font-size: 2.5rem;
    }
  }

  @include lg {
    min-height: 100vh;
  }
}

/* section01 about me */
#section01 {
  background-color: $bgColor02;

  #section01_bg {
    width: 100%;
    height: 100%;
    background-color: $bgColor01;
    clip-path: polygon(0px 0px, 100% 0%, 100% 85%, 0px 95%);
  }

  #section01_content {
    margin-bottom: 15rem;
  }

  .avator {
    min-height: 350px;
    background: url(../images/per_image.jpg) center/cover;
    background-repeat: no-repeat;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    &:after,
    &:before {
      content: ' ';
      width: 25px;
      height: 25px;
      position: absolute;
      border: 0px solid #fff;
      transition: all 1s;
    }
    &:after {
      top: -1px;
      left: -1px;
      border-top: 3px solid $primaryColor;
      border-left: 3px solid $primaryColor;
    }
    &:before {
      bottom: -1px;
      right: -1px;
      border-bottom: 3px solid $primaryColor;
      border-right: 3px solid $primaryColor;
    }
    &:hover {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      filter: brightness(1.2);

      &:before,
      &:after {
        width: 103%;
        height: 103%;
      }
    }
  }

  #quote {
    color: rgba($darkGrayColor, 0.7);
  }

  footer.blockquote-footer {
    color: rgba($darkGrayColor, 0.5);
  }

  .nav_btn {
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
  }

  .btn_primaryColor {
    color: white;
    background-color: rgba($color: $primaryColor, $alpha: 0.8);
    border-radius: $btnRadius;
    &:hover {
      background-color: $primaryColor;
      transform: scale(1.03) translateY(-3px);
      box-shadow: 0px 3px 10px rgba($color: $primaryColor, $alpha: 0.5);
      transition: 0.5s;
    }
  }

  .btn_subColor {
    color: $primaryColor;
    background-color: transparent;
    border-color: $primaryColor;
    border-radius: $btnRadius;
    &:hover {
      background-color: $primaryColor;
      color: white;
      transform: scale(1.03) translateY(-3px);
      box-shadow: 0px 3px 10px rgba($color: $primaryColor, $alpha: 0.5);
      transition: 0.5s;
    }
  }

  @include lg {
    min-height: 100vh;
    #section01_bg {
      width: 100%;
      min-height: 100vh;
      background-color: $bgColor01;
      clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0px 100%);
    }
    #section01_content {
      margin-bottom: 12rem;
    }
  }
}

/* section02 resume */
#section02 {
  background-color: $bgColor01;

  #section02_bg {
    width: 100%;
    height: 100%;
    background-color: $bgColor02;
    clip-path: polygon(0px 0px, 100% 0%, 100% 95%, 0px 85%);
  }

  #section02_content {
    margin-bottom: 18rem;
  }

  a:hover {
    padding: 2px;
    i {
      color: $primaryColor;
    }
  }

  /* Timeline holder */
  ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
  }

  /* Timeline vertical line */
  ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
  }

  li.timeline-item {
    margin: 20px 0;
    &:hover {
      h2 {
        color: $primaryColor;
        transform: translateY(-2px);
        transition: 0.5s;
      }
    }
  }

  /* Timeline item arrow */
  .timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
  }

  /* Timeline item circle marker */
  li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  li.timeline-item:hover::before {
    content: ' ';
    background: $primaryColor;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 10px rgba($primaryColor, 0.5);
    transition: 0.5s;
  }

  @include lg {
    min-height: 100vh;
    #section02_bg {
      width: 100%;
      height: 100%;
      background-color: $bgColor02;
      clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0px 100%);
    }
    #section02_content {
      margin-bottom: 3.5rem;
    }
  }
}

#section03 {
  background-color: $bgColor02;

  #section03_bg {
    width: 100%;
    height: 100%;
    background-color: $bgColor01;
    clip-path: polygon(0px 0px, 100% 0%, 100% 85%, 0px 95%);
  }

  #section03_content {
    margin-bottom: 15rem;
  }

  h3 {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
  }

  hr.whiteHr {
    border-top: 1px solid white;
    width: 50%;
  }

  .icon_color {
    color: white;
  }

  .card_style {
    background-color: $primaryColor;
    border: 0 solid;
    box-shadow: 0 0 10px rgba($color: $darkGrayColor, $alpha: 0.8);
    outline: 1px solid;
    outline-color: rgba($color: $primaryColor, $alpha: 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      border: 1px solid;
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 15px;
      padding: 15px;
      transform: scale(1.05);
      i {
        animation: easyUp 1s ease-in-out;
      }
    }

    ul li {
      color: white;
    }
  }

  .card_filter_light {
    -webkit-filter: brightness(1);
  }

  .card_filter_dark {
    -webkit-filter: brightness(0.85);
    &:hover {
      -webkit-filter: brightness(1);
    }
  }

  @include lg {
    min-height: 100vh;
    #section03_content {
      margin-bottom: 15rem;
    }
    #section03_bg {
      width: 100%;
      height: 100%;
      background-color: $bgColor01;
      clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0px 100%);
    }
  }
}

@keyframes easyUp {
  from {
    transform: translate(0);
  }
  50% {
    transform: translateY(-5px);
  }
  to {
    transform: translate(0);
  }
}

#section04 {
  width: 100%;
  height: 100%;
  background-color: $bgColor02;

  #section04_content {
    margin-bottom: 5rem;
  }

  i {
    color: white;
  }

  * {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  body {
    padding: 1rem 0;
    background: #f9f9fb;
  }

  .card {
    width: 300px;
    // min-height: 400px;
    display: inline-block;
    margin: 1rem;
    border-radius: 4px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    background: #fff;
    position: relative;
    overflow: hidden;

    &:hover,
    &.hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);

      & .card-content {
        box-shadow: inset 0 3px 0 0 $primaryColor;
        border-color: $primaryColor;
      }

      & .card-img .overlay {
        background-color: rgba(25, 29, 38, 0.85);
        transition: opacity 0.2s ease;
        opacity: 1;
      }
    }

    &-img {
      position: relative;
      height: 224px;
      width: 100%;
      background-color: #fff;
      transition: opacity 0.2s ease;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      & .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0;

        & .overlay-content {
          line-height: 224px;
          width: 100%;
          text-align: center;
          color: #fff;

          & a {
            color: #fff;
            padding: 0 2rem;
            display: inline-block;
            border: 1px solid rgba(255, 255, 255, 0.4);
            height: 40px;
            line-height: 40px;
            border-radius: 20px;
            cursor: pointer;
            text-decoration: none;

            &:hover,
            &.hover {
              background: $primaryColor;
              border-color: $primaryColor;
            }
          }

          & a.toGithub {
            color: #fff;
            padding: 0 2rem;
            display: inline-block;
            border: 0px solid rgba(255, 255, 255, 0.4);
            height: 0px;
            line-height: 0px;
            cursor: pointer;
            text-decoration: none;

            &:hover {
              transform: scale(1.1) translateY(-3px);
            }
          }
        }
      }
    }

    &-content {
      width: 100%;
      min-height: 229.8px;
      background-color: #fff;
      border-top: 1px solid #e9e9eb;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      padding: 1rem 2rem;
      transition: all 0.2s ease;

      & a {
        text-decoration: none;
        color: #202927;
      }

      & h2,
      a h2 {
        font-size: 1rem;
        font-weight: 500;
      }

      & p,
      a p {
        font-size: 0.8rem;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(32, 41, 28, 0.8);
        margin-bottom: 0.5rem;
      }
    }
  }

  .badge_style {
    color: #fff;
    background-color: rgba($darkGrayColor, 0.5);
  }

  @include lg {
    min-height: 100vh;
    #section04_content {
      margin-bottom: 5rem;
    }
  }
}

/* footer */
#footer {
  padding: 1rem 0;
  background-color: $primaryColor;
  color: white;
  font-size: 1rem;
  font-weight: 300;

  #connet_icon i {
    color: white;
  }
}

/* go_top */
#go_top_page {
  width: 50px;
  height: 50px;
  background: rgba($primaryColor, 0.7);
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}

#go_top_page a {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  line-height: 50px;
  color: white;
  text-decoration: none;
}
